@tailwind base;

:root {
  --text: theme('colors.gray');
  --background: theme('colors.blue');
  --screen-sm: theme('screens.sm');
}

html {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

li {
  @apply list-none;
}

a {
  @apply text-current no-underline;
}

img {
  @apply w-full max-w-full;
}

button[aria-expanded="true"] span:first-child {
  @apply top-1/2 rotate-45;
}

button[aria-expanded="true"] span:last-child {
  @apply bottom-1/2 -rotate-45;
}

.page-home {
  @apply overflow-hidden;
}

.dark {
  --text: theme('colors.gray-dark');
  --background: theme('colors.black');
}

.frame {
  --w: 1;
  --h: 1;

  @apply relative block w-full;
  
  background-color: rgba(255, 255, 255, .5);
  padding-bottom: calc(100% / var(--w) * var(--h));
}

.dark .frame {
  background-color: rgba(255, 255, 255, .03);
}

@screen sm {
  .figure-half .frame {
    @apply w-1/2;
    padding-bottom: calc(50% / var(--w) * var(--h));
  }
}

.frame img {
  @apply absolute inset-0 border-0;
}

@media (max-width: theme('screens.sm')) {
  .menu[aria-hidden="true"] {
    margin-top: -1px;
    z-index: -1;
  }
}

[data-ignore="true"] {
  @apply pointer-events-none;
}

.lozad {
  @apply opacity-0 transition-opacity duration-1000;
}

.lozad[data-loaded] {
  @apply opacity-100;
}

.nanobar {
  @apply h-3px;
}

.nanobar .bar {
  @apply bg-black;
}

.dark .nanobar .bar {
  @apply bg-white;
}

@tailwind utilities;
